/* Customizações pessoais */
$primary-color: #0f766e;      // cor principal (verde petróleo)
$link-color: #0f766e;         // links
$base-font-family: "Inter", "Segoe UI", Roboto, sans-serif;

body {
  background-color: #fdfdfc;
}

.site-title {
  color: $primary-color;
}

a:hover {
  text-decoration: underline;
}

